<div class = "row">
    <!-- side bar starts -->
    <div class="col-md-offset-1 col-md-2">
        <nav class="nav-sidebar">
            <ul class="nav" ng-init = "activeid = 'adduser'">
              <li ng-click="activeid='main'" ng-class = "{'active': activeid == 'main'}"  ><a ui-sref="main"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
              <li ng-click="activeid='adduser'" ng-class = "{'active': activeid == 'adduser'}" ><a ui-sref="addUser">Add User</a></li>
              <li ng-click="activeid='userlisting'" ng-class = "{'active': activeid == 'userlisting'}"><a ui-sref="userListing">User listing</a></li>
              <li ng-click="activeid='applyLeave'" ng-class = "{'active': activeid == 'applyleave'}"><a ui-sref="applyLeave">Apply Leave</a></li>
              <li ng-click="activeid='leavelisting'" ng-class = "{'active': activeid == 'leavelisting'}"><a ui-sref="leaveListing">Leave Listing</a></li>
              <li ng-click="activeid='addrole'" ng-class = "{'active': activeid == 'addrole'}"><a ui-sref="addRole">Add Role</a></li>
              <li  ng-click="activeid='rolelisting'" ng-class = "{'active': activeid == 'rolelisting'}"><a ui-sref="roleListing">Role Listing</a></li>
            </ul>
        </nav>
    </div>
    <!-- Side Bar Ends -->
    <div class="col-md-6 col-md-offset-1">
      <h1>Add New Employee</h1>
      <div class="row">
          <div class="col-md-7">
            <hr/>
              <form name = "myForm" ng-submit="addUser(myForm.$valid)">
                <div class="form-group row">
                    <label for="username" class="col-sm-5 col-form-label">Username </label>
                    <div class="col-sm-7">
                        <input type="text" name="username" required ng-model = "newusername" class="form-control" placeholder="Username" ng-minlength="5" ng-maxlength="10">
                        <p style="color:red" ng-show="myForm.username.$error.minlength" class="help-block">Username is too short.</p>
                        <p style="color:red" ng-show="myForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="fullname" class="col-sm-5 col-form-label">Full Name </label>
                    <div class="col-sm-7">
                        <input type="text" name="name" required ng-model = "newname" class="form-control" placeholder="Full Name" >
                        <p ng-show="myForm.name.$invalid && !myForm.name.$pristine" class="help-block">Your name is required.</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-sm-5 col-form-label">Password </label>
                    <div class="col-sm-7">
                        <input type="password" placeholder="Enter password" name="password" required class="form-control" ng-model="password" pattern=".{6,10}">
                        <span style="color:red" ng-if="myForm.password.$invalid && myForm.password.$dirty ">Passwords must be between 6 and 10 characters.</span>
                        <!-- <div class="error-message" ng-show="form.password.$invalid && !form.password.$pristine">Passwords must have at least 2 chars.</div> -->
                    </div>
                </div>

                <div class="form-group row">
                    <label for="confirmPassword" class="col-sm-5 col-form-label">Confirm Password </label>
                    <div class="col-sm-7">
                        <input type="password" placeholder="Enter password again" name="check1" required class="form-control" ng-model="check"  wj-validation-error="check != password ? 'Passwords don\'t match' : ''" />
                        <div style="color:red" class="error-message" ng-show="myForm.check1.$invalid && !myForm.check1.$pristine">Sorry, the passwords don't match.</div>
                      </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-5 col-form-label">Email </label>
                    <div class="col-sm-7">
                        <input type="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" placeholder="Email" ng-model="newemail">
                        <p style="color:red" ng-show="myForm.email.$invalid && !myForm.email.$pristine" class="help-block">Enter a valid email.</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="date" class="col-sm-5 col-form-label">Date of Joining </label>
                    <div class="col-sm-7">
                        <!-- <input type="date" name="date" required class="form-control" placeholder="Date of joining"> -->
                        <p class="input-group">
                          <input type="text" class="form-control" placeholder="Date of Joining"  datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate"  datepicker-options="dateOptions"  required close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="role" class="col-sm-5 col-form-label">Role </label>
                    <div class="col-sm-7">
                        <select class="form-control"  name="role" required  ng-model="newrole">
                            <option value="" hidden class="placeholder">Select a role</option>
                            <option ng-repeat="role in roles">{{role}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="superviser" class="col-sm-5 col-form-label">Superviser</label>
                    <div class="col-sm-7">
                        <select  class="form-control" name="superviser" required>
                            <option value="" hidden class="placeholder">Enter a Superviser</option>
                            <option ng-repeat="superviser in supervisers">{{superviser}}</option>
                        </select>
                    </div>
                </div>
                <hr/>
                <div class="form-group row">
                  <button type="submit" type="submit" ng-disabled="myForm.$invalid" value="Submit" class="btn btn-primary col-sm-5 col-sm-offset-4">SUBMIT</button>
                </div>
              </form>
          </div>
      </div>


    </div>
</div>
