<div class="ui-grid-cell-contents" ng-if="row.entity.username != undefined " >
  <button type="button" class="btn btn-xs btn-primary" ng-click="grid.appScope.vm.editRow(grid, row)">Edit</button><div ng-if="row.entity.status==undefined">
</div>
  <!-- <button type="button"  class=" leave btn btn-success btn-xs" ng-click=" show=true; grid.appScope.editRowa(row.entity)  " ng-hide=show>Activate</button>
  <button type="button"  class=" leave btn btn-danger btn-xs" ng-click=" show=true; grid.appScope.editRowr(row.entity)" ng-hide=show>Deactivate</button></div> -->
    <!-- <i class="fa fa-edit"></i> -->
  <!-- </button><button class="btn btn-info btn-xs" data-backdrop="false" data-toggle="modal" data-target="#myModal">Action</button> -->
  <!-- <a class="btn btn-xs"
  ng-class="{true: 'btn-primary', false: 'btn-danger'}[!status]"
  ng-click="status = !status">
  {{!status && 'Activate' || 'Deactivate'}} </a> -->


<!-- <button type="button"  class=" leave btn btn-success btn-xs" ng-click=" show=true; grid.appScope.editRowa(row.entity)  " ng-hide=show>Activate</button> -->
<!-- <button type="button"  class=" leave btn btn-danger btn-xs" ng-click=" show=true; grid.appScope.editRowr(row.entity)" ng-hide=show>Deactivate</button></div> -->
<!-- <div ng-if="row.entity.status===undefined"> -->



 <!-- <div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>
       <div class="modal-body">
          <p>Please Activate or Deactivate the Employee.</p>
       </div>
       <div class="modal-footer" ng-if="vm.row.entity.status==undefined">
          <button type="button"  class=" leave btn btn-success btn-xs" ng-click=" show=true; grid.appScope.vm.editRowa(row.entity)  " ng-hide=show>Activate</button>
          <button type="button"  class=" leave btn btn-danger btn-xs" ng-click=" show=true; grid.appScope.vm.editRowr(row.entity)" ng-hide=show>Deactivate</button>
          <button type="button" class="btn btn-default"  data-dismiss="modal" >Close</button>
      </div>
   </div>
 </div>
</div> -->
